<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><img src="assets/images/Vshare-logo.png" height="50" width="41"></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admincompany" class="nav-link" routerLink="admincompany">Admin Companies</a>
       
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/createcompany" class="nav-link" routerLink="createcompany">Create Company</a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/tradenow" class="nav-link" routerLink="tradenow">Admin Trade Now</a>
          </li>
          <li class="nav-item" *ngIf="showUserBoard">
            <a href="/addcompany" class="nav-link" routerLink="addcompany">Stocks</a>
          </li>
          <li class="nav-item" *ngIf="showUserBoard">
              <a href="/funds" class="nav-link" routerLink="funds">Funds</a>
            </li>
            <li class="nav-item" *ngIf="showUserBoard">
              <a href="/news" class="nav-link" routerLink="news">News</a>
            </li>
          <li class="nav-item" *ngIf="showUserBoard">
            <a href="/usertradenow" class="nav-link" routerLink="usertradenow">Trade Now</a>
          </li>
          <li class="nav-item" *ngIf="showUserBoard">
            <a href="/userportfolio" class="nav-link" routerLink="userportfolio">Portfolio</a>
          </li>
          <li class="nav-item" *ngIf="showUserBoard">
            <a href="/watchlist" class="nav-link" routerLink="watchlist">Watch List</a>
          </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>