

    <div class="row row-content align-items-center"  style=" margin-top: 20px;padding-top: 90px;">
        <div class="col col-sm order-sm-first col-md">
			
            <div class="media">
                <img  class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/Kotak.jpg">
                <div class="media-body">
                    <h2 class="mt-0">Kotak Mahindra International offloads stake in KRBL, Alpha Leon buys shares in McLeod Russel</h2>
                    <h5>As of March-end 2020, Kotak Mahindra (International) held 2.32 percent or 54,64,635 shares in KRBL.</h5>
                    <p>Kotak Mahindra (International) on July 2 has offloaded little more than half a percent stake in basmati rice processing company KRBL via an open market transaction.

                        The Kotak Group company sold 12,98,728 equity shares (representing 0.55 percent of its total paid-up equity capital) at Rs 262.03 per share, bulk deals data on the National Stock Exchange (NSE) showed.
                        
                        As of March-end, Kotak Mahindra (International) held 2.32 percent or 54,64,635 shares in KRBL.
                        
                        Alpha Leon Enterprises bought 6,54,550 shares (or 0.62 percent of its total paid-up equity capital) of McLeod Russel India at Rs 7.1 per share on the NSE.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-content align-items-center" >
        <div class="col col-sm order-sm-first col-md">
			
            <div class="media">
                <div class="media-body">
                    <h2 class="mt-0">Neutral Tata Steel; target of Rs 328: Motilal Oswal</h2>
                    <h5>Motilal Oswal recommended Neutral rating on Tata Steel with a target price of Rs 328 in its research report dated July 01, 2020.</h5>
                    <p>Tata Steel’s (TATA) 4Q EBITDA rose 28% QoQ to INR46.5b and surprised positively led by improved performance in Europe and Bhushan. 
                        Near term earnings outlook is weak due to lower domestic demand necessitating higher exports which adversely impacts EBITDA. Moreover,
                         leverage remains discomforting at 8x of FY21 EBITDA. Given the challenges in Europe, we cut our FY21/22 EBITDA estimates marginally and maintain our Neutral rating on the stock.</p>
                </div>
                <img  class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/Neutral.webp">
            </div>
        </div>

    </div>
    <div class="row row-content align-items-center"  style=" margin-top: 20px;padding-top: 90px;">
        <div class="col col-sm order-sm-first col-md">
			<div class="media">
                <img  class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/Buy.jpg">
                <div class="media-body">
                    <h2 class="mt-0">Buy Petronet LNG; target of Rs 340: Motilal Oswal</h2>
                    <h5>Motilal Oswal is bullish on Petronet LNG recommended buy rating on the stock with a target price of Rs 340 in its research report dated June 30, 2020.</h5>
                    <p>Volumes at Dahej were down QoQ (and below est.), as three cargoes were cancelled/deferred due to the COVID-19 led lockdown in Mar’20.
                         In Apr-May’20, the company claimed force majeure on eight cargoes from Qatar and one from ExxonMobil under the contractual clause of pandemic. 
                         The revocation is expected to settle in favor of PLNG. Dahej terminal is currently operating at ~100% utilization, up from 50-55% in Apr-May’20.
                          Various power plants are switching off the coal in the current lower spot price environment, resulting in higher gas offtake and imports. 
                          Negotiations are on with Qatar Gas over LNG pricing. PLNG also said that MOU with Tellurian may get extended with a final decision expected in FY21.
                           Recently, PNGRB allowed any entity to set up LNG station across geographical area (GA) or anywhere in India to promote LNG as an alternative fuel for trucks.
                            Small Scale LNG (ssLNG) has potential of 8-9mmtpa of LNG for trucks in next 8-10 years. Also, the NGT’s actions against severely/critically polluted industrial clusters would lead to higher adoption of gas from industries.
                             PLNG expects utilization to be healthy at ~100% going into the year, further aided by power sector demand. Maintain Buy.

                    </p>
                </div>
            </div>
        </div> 
    </div>  
        
    <div class="row row-content align-items-center" >
        <div class="col col-sm order-sm-first col-md">
			
            <div class="media">
                <div class="media-body">
                    <h2 class="mt-0">Buy Bharat Electronics; target of Rs 108: Motilal Oswal</h2>
                    <h5>Motilal Oswal is bullish on Bharat Electronics recommended buy rating on the stock with a target price of Rs 108 in its research report dated June 30, 2020.</h5>
                    <p>Bharat Electronics (BHE)’s 4QFY20 earnings came in higher than estimated, led by a strong uptick in margins. 
                        While revenue was in-line, the major surprise was the EBITDA margin coming in at 25.5% v/s our estimate of 20.5%.
                         Thus, net profit was 26% above our estimate. Adjusted for EVM/VVPAT orders in the base year, execution was strong at 56%/37% for 4QFY20/FY20. 
                        The EBITDA margin tends to be volatile on a quarterly basis as it depends on the sales mix between deliverables.</p>
                </div>
                <img  class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/buySell4-770x433.jpg">
            </div>
        </div>
    </div>
    <div class="row row-content align-items-center"  style=" margin-top: 20px;padding-top: 90px;">
        <div class="col col-sm order-sm-first col-md">
			<div class="media">
                <img  class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/reduced-770x433 (1).webp">
                <div class="media-body">
                    <h2 class="mt-0">Reduce Ramkrishna Forgings; target of Rs 186: Dolat Capital</h2>
                    <h5>Dolat Capital recommended reduce rating on Ramkrishna Forgings with a target price of Rs 186 in its research report dated June 29, 2020.</h5>
                    <p>Ramkrishna Forgings (RMKF) Q4FY20 performance was weak. A sharp decline in domestic M&HCV sales adversely affected its domestic revenue (-54% YoY). 
                        Export revenue also plunged 40% YoY, driven by slowdown in the Class 8 truck segment. EBITDA margin contracted 363bps YoY to 16.5%, due to a negative operating leverage, while PAT (reported loss Rs 63mn) was suppressed by a higher depreciation and interest cost.
                         The company is in the midst of a demand slump in the domestic CV and Class 8 truck segment with no visibility of recovery in the next few quarters. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-content align-items-center" >
        <div class="col col-sm order-sm-first col-md">
			
            <div class="media">
                <div class="media-body">
                    <h2 class="mt-0">Accumulate J Kumar Infraprojects; target of Rs 110: Dolat Capital</h2>
                    <h5>Dolat Capital recommended accumulate rating on J Kumar Infraprojects with a target price of Rs 110 in its research report dated June 29, 2020.</h5>
                    <p>JKIL reported revenue above estimates, EBITDA margin below estimates and PAT in line with estimates. 
                        JKIL posted 9.3%/ 31.4%/ 45.8% YoY de-growth in revenue/ EBITDA/ PAT to Rs8.8 bn/ Rs919 mn/ Rs311 mn in Q4FY20. We reduce our revenue estimates by 15.2%/ 7.6% for FY21E/ FY22E on account of lockdown due to covid-19.
                         We factor EBITDA loss/ EBITDA breakeven levels in Q1FY21E/ Q2FY21E leading to reduction in EBITDA margin estimates by 591/ 145 bps for FY21E/ FY22E. Accordingly, 
                         we drastically reduce our PAT estimates by 89.9%/ 32.3% for FY21E/ FY22E. JKIL's muted revenue growth (5.0% CAGR over FY20-22E) and EBITDA margin of 9.3%/ 14.0% in FY21E/ FY22E will lead to muted CAGR of -2.0% in its bottom line over FY20-22E. 
                        We, therefore, expect the RoCE and RoE to dip to 9.9%/ 8.7% in FY22E from 11.4%/ 10.5% in FY20.</p>
                </div>
                <img  class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/accumulate2-770x433.jpg">
            </div>
        </div>
    </div>
    <div class="row row-content align-items-center"  style=" margin-top: 20px;padding-top: 90px;">
        <div class="col col-sm order-sm-first col-md">
			<div class="media">
                <img  class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/buy1-770x433.jpg">
                <div class="media-body">
                    <h2 class="mt-0">Buy Century Plyboards; target of Rs 169: Anand Rathi</h2>
                    <h5>Anand Rathi is bullish on Century Plyboards has recommended buy rating on the stock with a target price of Rs 169 in its research report dated June 29, 2020.</h5>
                    <p>Century’s in-line Q4 PAT was driven by better margins, retaining its strong balance-sheet status. The current weak demand context, 
                        due to poor activity in home renovation/new purchases, is expected to revive gradually. We believe ~`80m/month cost savings will persist in FY22, and support our high margin expectation.
                         Growth in MDF/PB may be limited post FY22 if new capacities do not come on time. We like Century Ply for its leading positions in its product categories, strong balance-sheet and healthy FCF generation.
                         At 10.5x FY22e P/E, Century Ply remains our preferred pick in the wood-panel industry.</p>
                </div>
            </div>
        </div>
    </div>



